VITE_SUPABASE_URL=https://iorpramozjnqdeczgete.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlvcnByYW1vempucWRlY3pnZXRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0Mjc4NjMsImV4cCI6MjA5NzAwMzg2M30.jYG1h35tisVJk7HXVXyHnC6k8tvcKhgoZjFRtxqn-SY
VITE_PUBLIC_APP_URL=https://your-app-url.example.com
